:root {
  	/* Red */
	--google-red-50: #FFEBEE;
	--google-red-100: #FFCDD2;
	--google-red-200: #EF9A9A;
	--google-red-300: #E57373;
	--google-red-400: #EF5350;
	--google-red-500: #F44336;
	--google-red-600: #E53935;
	--google-red-700: #D32F2F;
	--google-red-800: #C62828;
	--google-red-900: #B71C1C;
	--google-red-A100: #FF8A80;
	--google-red-A200: #FF5252;
	--google-red-A400: #FF1744;
	--google-red-A700: #D50000;
	
	/* Pink */
	--google-pink-50: #FCE4EC;
	--google-pink-100: #F8BBD0;
	--google-pink-200: #F48FB1;
	--google-pink-300: #F06292;
	--google-pink-400: #EC407A;
	--google-pink-500: #E91E63;
	--google-pink-600: #D81B60;
	--google-pink-700: #C2185B;
	--google-pink-800: #AD1457;
	--google-pink-900: #880E4F;
	--google-pink-A100: #FF80AB;
	--google-pink-A200: #FF4081;
	--google-pink-A400: #F50057;
	--google-pink-A700: #C51162;
	
	/* Purple */
	--google-purple-50: #EDE7F6;
	--google-purple-100: #D1C4E9;
	--google-purple-200: #B39DDB;
	--google-purple-300: #9575CD;
	--google-purple-400: #7E57C2;
	--google-purple-500: #673AB7;
	--google-purple-600: #5E35B1;
	--google-purple-700: #512DA8;
	--google-purple-800: #4527A0;
	--google-purple-900: #311B92;
	--google-purple-A100: #B388FF;
	--google-purple-A200: #7C4DFF;
	--google-purple-A400: #651FFF;
	--google-purple-A700: #6200EA;
}
